<mat-grid-list [cols]="cols" rowHeight="440px" gutterSize="10px">
  <mat-grid-tile *ngFor="let movie of movies;" style="display: flex;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image style="max-height: 306px;" src={{getYoutubeThumb(movie.URL)}} alt={{movie.Title}}>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" style="padding: 4px; margin: 4px;"
          (click)="openDirectorDetailsComponent(movie.Director)">
          Director
        </button>
        <button mat-button color="primary" style="padding: 4px; margin: 4px;"
          (click)="openGenreDetailsComponent(movie.Genre)">
          Genre
        </button>
        <button mat-button color="primary" style="padding: 4px; margin: 4px;"
          (click)="openMovieDescriptionDetailsComponent(movie)">
          Description
        </button>
        <button mat-mini-fab color="accent" style="margin-left: auto;"
          *ngIf="favoritingLocalService.isFavorite(movie._id); else addFavButton"
          (click)="openFavoritingToggleComponent(movie)">
          <mat-icon>favorite</mat-icon>
        </button>
        <ng-template #addFavButton>
          <button mat-icon-button color="accent" style="margin-left: auto;"
            (click)="openFavoritingToggleComponent(movie)">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>